/* From Uiverse.io by Voxybuns */ 
button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: black;
  --button_outline_color: white;
  font-weight: bold;
  font-family: 'Doto';
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  padding-inline: 0;
  width: max-content;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

input {
  border-radius: 10px;
  outline: 2px solid white;
  border: 0;
  font-family: 'Doto';
  background-color: white;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

input:focus {
  outline-offset: 5px;
  background-color: #fff
}

@font-face {
  font-family: 'Doto';
  src: url(../assets/Doto_Rounded-Black.ttf);
}

body {
  background-color: black;
  font-size: clamp(14px, 2vw + 0.5rem, 100px);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Doto';
  color: white;
}

p {
  font-family: 'Doto';
  font-size: x-large;
  color: white;
}